<!doctype html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/images/nexhop-favicon.png">
        <title>Nexhop</title>

        <%- partial('includes/css-includes') %>

    </head>

    <body>
        <%- partial('includes/header') %>

        <div class="wrapper" id="page">
        <div class="body_content"><!--Body content-->

        <%- body %>  

        <%- partial('includes/footer') %>
        <%- partial('includes/js-includes') %>

    </body>
</html>